.profile_wrapper {
    display: flex;
    padding: 5px;
}
.profile_wrapper h4 {
    text-align: center;
}

.profile_wrapper img {
    width: 250px;
    border-radius: 50%;
    border: 3px solid #5b5ff0;
    box-sizing: border-box;
}
.aboutMe {
    width: 100%;
    margin: 10px;
    padding: 5px;
    background-color: #efeff2;
    border-radius: 20px;
    border: 1px solid #5b5ff0;
}



.contactsBlock {
    margin-left: 0px auto;
    text-align: center;
}
.contacts {
    color: #7c80f8;
    padding: 0px 5px;
    text-decoration: none;
    font-size: 20px;
}
.contacts:hover {
    color: #151dfa;
    padding: 0px 15px;
    text-decoration: none;
    font-size: 20px;
}