@import "../../../scss/variables";

.paginatorWrapper {
  ul {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0.5em;

    li {
      display: inline-block;
      font-size: 100%;
      width: auto;
      border-radius: 10px;
    }
  }

  button {
    border: none;
    font: inherit;
    background-color: transparent;
    color: darken($gray, 25%);
    font-size: 21px;
    padding: 0.3em 0.5em;
    cursor: pointer;
    border-radius: 7px;
    &:hover {
      color: $blue;
      background-color: lighten($gray, 12%);
    }
  }

  .activePage {
    background: lighten($gray, 5%);
    color: $black;
  }
}
