.paginatorWrapper {
  ul {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0.5em;

    li {
      display: inline-block;
      font-size: 100%;
      width: auto;
      border-radius: 10px;
    }
  }

  button {
    border: none;
    font: inherit;
    background-color: transparent;
    color: #777;
    font-size: 21px;
    padding: 0.3em 0.5em;
    cursor: pointer;
    border-radius: 7px;
    &:hover {
      color: #5b5ff0;
      background-color: rgb(230, 230, 230);
    }
  }

  .activePage {
    background: rgb(211, 211, 211);
    color: black;
  }
}
