.paginatorWrapper {
  ul {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0.5em;

    li {
      display: inline-block;
      font-size: 100%;
      width: auto;
      border-radius: 3px;
    }
  }

  button {
    border: none;
    font: inherit;
    background-color: transparent;
    color: #777;
    font-size: 21px;
    padding: 0.3em 0.5em;
    cursor: pointer;

    &:hover {
      color: rgb(37, 131, 255);
    }
  }

  .activePage {
    background: rgb(167, 167, 167);
    color: black;
  }
}
