.header_wrapper {
    min-width: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: #5b5ff0;
}

.mediaBlock {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: ghostwhite;
    padding-left: 5%;
}
.loginBlock {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-between;
    padding-right: 60px;
}
#logo {
    height: 80px;
}

.slogan {
    padding-left: 15px;
    display: inline-block;
}


.linkToProfile {
    text-decoration: none;
    color: ghostwhite;
    font-size: 1.4em;
    padding-right: 10px;
    &:hover {
        font-size: 1.5em;
    }
}


.linkToLogin {
    text-decoration: none;
    font-size: 1.5em;
    color: ghostwhite;
    color: ghostwhite;
    &:hover {
        text-decoration: underline;
    }
}
