@import "../../scss/variables";

.header_wrapper {
  min-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $lightBlue;

  .mediaBlock {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: ghostwhite;
    padding-left: 5%;

    .logo {
      height: 80px;
    }

    .slogan {
      padding-left: 15px;
      display: inline-block;
    }
  }

  .loginBlock {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-between;
    padding-right: 5%;

    .linkToProfile {
      text-decoration: none;
      color: ghostwhite;
      font-size: 1.4em;
      padding-right: 10px;
      opacity: 0.9;
      &:hover {
        font-size: 1.5em;
        opacity: 1;
      }
    }

    .linkToLogin {
      text-decoration: none;
      font-size: 1.5em;
      color: ghostwhite;
      color: ghostwhite;
      &:hover {
        text-decoration: underline;
      }
    }

    .logoutButton {
      outline: none;
      height: 35px;
      text-align: center;
      width: 130px;
      border-radius: 40px;
      background: $white;
      border: none;
      color: $lightBlue;
      letter-spacing: 1px;
      font: {
        size: 12px;
        weight: bold;
      }
      cursor: pointer;
      transition: all 0.25s ease;
      &:hover {
        color: white;
        background: $lightBlue;
        font-size: 13px;
      }
      &:active {
        letter-spacing: 2px;
      }
    }
  }
}
