@import "../../scss/variables";

.link {
  display: inline-block;
  padding: 15px 10%;
  width: 100%;
  text-decoration: none;
  color: $lightBlue;
  font-size: 1.5em;
  background-color: $whiteGray;
  transition-duration: 0.15s;
  &:hover {
    color: $blue;
    font-weight: bold;
    background-color: $lightgray;
  }
}

.active {
  color: $lightRed;
  &:hover {
    color: $red;
  }
}
