.navbar {
    background-color: ghostwhite;
}

/* .navbar_item {

} */
.navbar_item:hover {
    background-color: #efeff2;
}

.link {
    display: inline-block;
    padding: 15px 10%;
    width: 100%;
    text-decoration: none;
    color: #5b5ff0;
    font-size: 1.5em;
}
.link:hover {
    color: #262df5;
    font-weight: bold;
}

.active {
    color: #ce888e;
}
.active:hover {
    color: #e9505d
}

