@import "../../../scss/variables";

.userItem {
  display: flex;
  border-radius: 5px;
  border: 1px solid $gray;
  margin: 10px 0px;
  background-color: $white;

  .userPhoto {
    margin: 5px 15px;
    border-radius: 50%;
    border: 1px solid $gray;
    width: 80px;
  }

  .userInfo {
    display: flex;
    flex-direction: column;
    width: 75%;
    .userName {
      font-weight: 500;
      color: $lightBlue;
      font-size: 19px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .subscribeBlock {
    margin: 10px 10px 0px 0px;

    .followedButton {
      background-color: lighten($gray, 10%);
      border: none;
      padding: 6px 15px;
      border-radius: 5px;
      color: black;
      font-size: 17px;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        background-color: lighten($gray, 6%);
      }
    }

    .unfollowedButton {
      background-color: $lightBlue;
      border: none;
      padding: 6px 15px;
      border-radius: 5px;
      color: white;
      font-size: 17px;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        background-color: $blue;
      }
    }
  }
}
