$blue: #5b5ff0;
$lightBlue: #7c80f8;

@mixin link($link, $hover) {
  a {
    color: $link;
    &:hover {
      color: $hover;
    }
  }
}
@include link(black, red);

.profileInfo_wrapper {
  display: flex;

  justify-content: space-between;
  margin: 0px 0px 10px 0px;

  h4 {
    text-align: center;
  }
}

// .userName {
//   text-align: center;
//   width: 100%;
//   color: white;
//   font-size: 30px;
//   background-color: $blue;
//   border-radius: 10px;
// }

.userPhoto {
  justify-content: center;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  img {
    width: 200px;
    border-radius: 2%;
    cursor: pointer;

    &:hover {
      opacity: 0.95;
    }
  }
  .photoFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
  }

  .editProfile {
    align-self: flex-end;
    width: 100%;
    outline: 0px;
    border: 0px;
    background-color: #e5ebf1;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    opacity: 0.7;
    border-radius: 7px;
    margin-top: -10px;
    a {
      text-decoration: none;
      color: black;
    }

    &:hover {
      background-color: darken(#e5ebf1, 1%);
      opacity: 1;
    }
  }
}

.aboutMe {
  font-size: 18px;
  width: 77%;
  min-width: 400px;
  padding: 0 0 10px 10px;

  .userName {
    display: block;
    font-size: 28px;
    line-height: 25px;
    font-weight: 400;
  }

  .userStatus {
    padding: 3px 0;
    font-size: 16px;
    cursor: pointer;
    opacity: 0.8;

    &:hover {
      background-color: #f0f0f0;
    }

    input {
      outline: 0px;
      font-size: 16px;
      height: auto;
      padding: 5px 0px;
      width: 70%;
      border: 1px solid #ccc;
      border-radius: 4px;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }

    .aboutMeInfo {
    }
  }
}

.contactsBlock {
  margin-left: 0px auto;
  text-align: center;
}
.contacts {
  color: #7c80f8;
  padding: 0px 5px;
  text-decoration: none;
  font-size: 20px;
  transition-duration: 0.3s;
  // transition-delay: 0.07s;
  &:hover {
    padding: 0 25px;
    color: #0008f7;
  }
}
