@import "../../../scss/variables";

@mixin link($link, $hover) {
  a {
    color: $link;
    &:hover {
      color: $hover;
    }
  }
}
@include link(black, $red);

.profileInfo_wrapper {
  display: flex;

  justify-content: space-between;
  margin: 0px 0px 10px 0px;

  h4 {
    text-align: center;
  }
}

.userPhoto {
  justify-content: center;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .ownerPhoto {
    cursor: none;
  }

  img {
    width: 200px;
    border-radius: 2%;
  }

  .ownerPhoto {
    cursor: pointer;
    &:hover {
      opacity: 0.95;
    }
  }
  .photoFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
  }

  .editProfile {
    align-self: flex-end;
    width: 100%;
    outline: 0px;
    border: 0px;
    background-color: darken($lightgray, 5%);
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    opacity: 0.7;
    border-radius: 7px;
    margin-top: -10px;
    a {
      text-decoration: none;
      color: black;
    }

    &:hover {
      background-color: darken($lightgray, 5%);
      opacity: 1;
    }
  }
}

.aboutMe {
  font-size: 18px;
  width: 77%;
  min-width: 400px;
  padding: 0 0 10px 10px;

  .userName {
    display: block;
    font-size: 28px;
    line-height: 25px;
    font-weight: 400;
  }

  .userStatus {
    padding: 3px 0;
    font-size: 16px;
    cursor: pointer;
    opacity: 0.8;

    &:hover {
      background-color: darken($whiteGray, 2%);
    }

    input {
      outline: 0px;
      font-size: 16px;
      height: auto;
      padding: 5px 0px;
      width: 70%;
      border: 1px solid $gray;
      border-radius: 4px;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }
  }
}
