@import "../../scss/variables";
@import "../../scss/mixins";

.loginWrapper {
  margin-top: 80px;
  margin-bottom: 80px;

  form {
    @include checkbox;
    max-width: 480px;
    padding: 35px 35px 55px;
    margin: 0 auto;
    background-color: $white;
    border: 1px solid $gray;
    &:focus {
      z-index: 2;
    }

    h2 {
      font-size: 28px;
      margin-bottom: 30px;
      font-weight: 400;
    }

    input {
      @include input;
      width: 80%;
    }

    input[name="email"] {
      margin-bottom: -1px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    input[name="password"] {
      margin-bottom: 20px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .checkboxBlock {
      display: flex;
      .toggle {
        margin: 0 0 -7px 15px;
      }
      .label {
        margin-top: -2px;
      }
    }

    .loginButton {
      @include submitButton(80%);
    }

    .captchaBlock {
      label {
        font-weight: 350;
      }
      margin-bottom: 30px;
      img {
        display: block;
        width: 190px;
      }
    }
  }
}

.serverErrorMessage {
  font-size: 1.3em;
  color: $red;
  margin-bottom: 10px;
}
