@import "../../../scss/variables";
@import "../../../scss/mixins";

.postField {
  @include textarea;
  width: 60%;
  margin-bottom: 10px;
}

.newPostButton {
  @include button;
}

.post {
  background-color: $white;
  margin: 15px 0px;
  display: grid;
  grid-template-columns: 80px 1fr;
  border-radius: 10px;
  border: 1px solid $lightBlue;
  min-height: 100px;

  .userPhoto {
    width: 70px;
    border-radius: 50%;
    margin: 10px 5px;
    border: 1px solid $gray;
  }

  .postText {
    padding: 5px 10px;
  }
}
