@import "../../scss/variables";
@import "../../scss/mixins";

.dialogsWrapper {
  display: grid;
  grid-template-columns: 2fr 7fr;
  column-gap: 10px;

  .dialogsUsers {
    background-color: $white;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid $gray;
    box-sizing: border-box;
  }
  .dialogsUserPhoto {
    margin-right: 10px;
    width: 40px;
    border-radius: 50%;
  }

  .dialogsMessages {
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $white;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid $gray;
    box-sizing: border-box;

    form {
      display: flex;
      justify-items: center;
      align-items: center;
    }

    .sendMessageButton {
      @include button;
      margin-left: 30px;
    }

    textarea {
      @include textarea(65px);
      width: 400px;
    }
  }
}

.dialogsUserWrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-bottom: 10px;

  .linkToUserChat {
    text-decoration: none;
    font-size: 1.2em;
    color: $lightBlue;
    font-weight: 350;
    &:hover {
      color: $blue;
      font-weight: 400;
    }
  }
}

.dialogsMessageWrapper {
  display: flex;
  align-items: center;
}
