@import "../../../scss/variables";
@import "../../../scss/mixins";

.searchWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 25px;

  .searchField {
    @include input;
    width: 400px;
  }

  .searchButton {
    @include button;
    margin-left: 20px;
  }
}
