@import "../../../scss/variables";
@import "../../../scss/mixins";

.searchWrapper {
  @include checkbox;
  display: flex;
  align-items: center;
  margin-bottom: 25px;

  .searchField {
    @include input;
    width: 400px;
  }

  .searchButton {
    @include button;
    margin-left: 20px;
  }

  .checkboxBlock {
    margin-left: 35px;
    display: flex;

    .toggle {
      margin-left: 5px;
    }
    .label {
      margin-top: -2px;
    }
  }
}
